.bottom-curve {
    position: fixed;
    bottom: 250px;
    left: 0;
    width: 100%;
    overflow: hidden; /* 곡선이 넘치지 않도록 처리 */
    background: transparent; /* 배경을 투명하게 설정 */
    line-height: 0; /* 불필요한 여백 제거 */
    z-index: 1;
  }
  
/* 곡선 SVG 설정 */
.curve-svg {
    display: block;
    position: relative;
    width: 100%;
    height: 380px; /* 곡선의 높이 조정 */
    background: transparent; /* 배경을 투명하게 설정 */
}

/* 곡선 기본 스타일 */
.curve-path {
    fill: none; /* 내부 색상 없음 */
    stroke: #cecece; /* 흰색 글로우 효과 */
    stroke-width: 1; /* 선 두께 */
    stroke-linecap: round; /* 끝 부분을 둥글게 */
    filter:none; /* 블러 제거 */
  }

/* 활성화 상태에서 애니메이션 적용 */
.curve-glow {
  fill: none;
  border: 3px solid white;
  stroke: #ffffff; /* 빛 색상 */
  stroke-width: 5;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  filter: none;
  animation: glowAnimation 2s infinite alternate;
  transition: stroke-width 0.3s ease;
  &.glow {
      stroke-width: 10;
  }
}

@keyframes glowAnimation {
  from {
      stroke-width: 3;
      filter: drop-shadow(0 0 10px #ffffff); /* 빛의 강도와 퍼짐 조정 */
  }
  to {
      stroke-width: 5;
      filter: drop-shadow(0 0 20px #ffffff); /* 빛의 강도와 퍼짐 조정 */
  }
}

@keyframes waveGlow1 {
  0% {
      stroke-width: 6;
      filter: blur(6px);
      opacity: 0.6;
      transform: translateX(-10px);
  }
  50% {
      stroke-width: 10;
      filter: blur(12px); 
      opacity: 0.9;
      transform: translateX(10px);
  }
  100% {
      stroke-width: 6;
      filter: blur(6px);
      opacity: 0.6;
      transform: translateX(-10px);
  }
}

@keyframes waveGlow2 {
  0% {
      stroke-width: 7;
      filter: blur(8px);
      opacity: 0.5;
      transform: translateX(15px);
  }
  50% {
      stroke-width: 11;
      filter: blur(14px);
      opacity: 0.9;
      transform: translateX(-15px);
  }
  100% {
      stroke-width: 7;
      filter: blur(8px);
      opacity: 0.5;
      transform: translateX(15px);
  }
}

@keyframes waveGlow3 {
  0% {
      stroke-width: 5;
      filter: blur(7px);
      opacity: 0.3;
      transform: translateX(-5px);
  }
  50% {
      stroke-width: 9;
      filter: blur(13px);
      opacity: 0.7;
      transform: translateX(5px);
  }
  100% {
      stroke-width: 5;
      filter: blur(7px);
      opacity: 0.3;
      transform: translateX(-5px);
  }
}

/* 너비가 768px 이상일 때 다른 곡선 표시 */
@media (min-width: 768px) {
  .curve-svg {
    display: block; /* 기본 곡선 숨김 */
  }
  .curve-svg.wide {
    display: block; /* 넓은 화면 곡선 표시 */
    
  }
}